.Header {
    border-radius: 30px;
    height: 60px;
    width: 90%;
    border: 0.5px white solid;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.routes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
  